@charset "utf-8";

:root {
    font-family: sans-serif;
}

#dateControls {
    display: flex;
    justify-content: space-between;
}

#prevNextLabel {
    font-weight: bold;
}

button, input {
    font-weight: bold;
}