@charset "utf-8";

:root {
    font-family: sans-serif;
}

#dateControls {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}

button, input {
    font-weight: bold;
    height: 1.25rem;
}

#prevNextButtons button {
    font-size: 0.7rem;
    height: 1.25rem;
}